<div class="conatiner-fluid" *ngIf="nazioneSingola"
 style="background-color: bisque;">
    <div class="row">
        <div class="class column">
            <h1>Eccon la nazione da te cliccata:</h1>
            <div class="card" style="width: 600px; height: 800px;
            background-color: rgb(160, 225, 225);">
                <img src="{{nazioneSingola[0].flags.png}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{nazioneSingola[0].name.common}}</h5>
                  <h6><strong>CAPITALE:</strong> {{nazioneSingola[0].capital}}</h6>
                  <h6><strong>NAZIONE:</strong> {{nazioneSingola[0].region}}</h6>
                  <h6><strong>LINGUA:</strong>{{nazioneSingola[0].languages | json}}</h6>
                  <h6><strong>POPOLAZIONE:</strong>{{nazioneSingola[0].population}}</h6>
                  <h6><STRong>CAR SIGN:</STRong>{{nazioneSingola[0].car.signs}}</h6>
                  <h6><STRong>LATO DI GUIDA:</STRong>{{nazioneSingola[0].car.side}}</h6>
                  <br>

                  <h4>POSIZIONE GEOGRAFICA</h4>
                  <h6>{{nazioneSingola[0].maps.googleMaps}}</h6>

                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>

<!-- altSpellings
: 
(4) ['AS', 'Amerika Sāmoa', 'Amelika Sāmoa', 'Sāmoa Amelika']
area
: 
199
capital
: 
['Pago Pago']
capitalInfo
: 
{latlng: Array(2)}
car
: 
{signs: Array(1), side: 'right'}
cca2
: 
"AS"
cca3
: 
"ASM"
ccn3
: 
"016"
cioc
: 
"ASA"
coatOfArms
: 
{}
continents
: 
['Oceania']
currencies
: 
{USD: {…}}
demonyms
: 
{eng: {…}, fra: {…}}
fifa
: 
"ASA"
flag
: 
"🇦🇸"
flags
: 
{png: 'https://flagcdn.com/w320/as.png', svg: 'https://flagcdn.com/as.svg'}
idd
: 
{root: '+1', suffixes: Array(1)}
independent
: 
false
landlocked
: 
false
languages
: 
{eng: 'English', smo: 'Samoan'}
latlng
: 
(2) [-14.33333333, -170]
maps
: 
{googleMaps: 'https://goo.gl/maps/Re9ePMjwP1sFCBFA6', openStreetMaps: 'https://www.openstreetmap.org/relation/2177187'}
name
: 
{common: 'American Samoa', official: 'American Samoa', nativeName: {…}}
population
: 
55197
region
: 
"Oceania"
startOfWeek
: 
"monday"
status
: 
"officially-assigned"
subregion
: 
"Polynesia"
timezones
: 
['UTC-11:00']
tld
: 
['.as']
translations
: 
{ara: {…}, bre: {…}, ces: {…}, cym: {…}, deu: {…}, …}
unMember
: 
false
[[Prototype]]
: 
Object
length
: 
1
[[Prototype]]
: 
Array(0) -->
